config/secrets.js
config/autotuber-key-pair.pem
config/youtube-secrets.json
config/local_attributes.js
config/local_attributes_prod.js
thumbnails/
node_modules/
video_data/
video_data_saved/
video_data_hijacks/
tmp_ad_content/*.mp4
test_helper/helpers_tester.js
